numpy
imageio
pytesseract
opencv-python
csvprint
pandas
openpyxl
flask
flask-migrate
flask-sqlalchemy
flask-wtf
python-dotenv
flask-login
flask-mail
flask-bootstrap
flask-uploads
flask-images
pyjwt
boto3
requests
XlsxWriter
Wand
scipy
cvhelper # check github.com/anbergem/cvhelper