<!doctype html>
<head>
<title>Upload new image</title>
</head>
<body>
<h1>Extract table from image</h1>
<h2>Upload new File</h2>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
{% if error %}
    <h3 style="color: red;">Error: {{ error }}</h3>
{% endif %}
{% if any_files  %}
    <h2>Uploaded files</h2>
    <ul>
    {% for filename in filenames %}
        <li>
            <a href="uploads/{{ filename }}">{{ filename }}</a>
        </li>
    {% endfor %}
    </ul>
    <h2>Analyze a file</h2>
    <form action="analyze_post" method="POST">
        <select name="filename">
            {% for filename in filenames %}
                <option value="{{ filename }}">{{ filename }}</option>
            {% endfor %}
        </select>
        
        <select name="columns">
            {% for columns in columns_options %}
                <option value="{{ columns }}">{{ columns }}</option>
            {% endfor %}
        </select>
        
        <input type="submit" value="Analyze">
    </form>
    <h2>Delete files</h2>
        <form action="delete" method="POST">
            <select name="image_filename">
                {% for filename in filenames %}
                    <option value="{{ filename }}">{{ filename }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Delete file">
        </form>
{% endif %}
</body>
</html>