<div class="col-xs-12 col-sm-6 col-md-4" style="padding: 10px;">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="row" style="height: 60px;">
            <h3>
                    <a href="{{ url_for("delete_image", unique_id=image.uuid) }}" title="Delete image"><i class="fas fa-trash-alt"></i></a>
                {% if image.tabular %}
                    <a href="{{ image.excel_url() }}" title="Download Excel file"><i class="fas fa-file-excel"></i></a>
                    <a href="{{ image.csv_url() }}" title="Download CSV file"><i class="fas fa-file-csv"></i></a>
                {% endif %}
            </h3>
        </div>
        <div class="row" style="width: 350px;">
            <a href="{{ url_for('image', unique_id=image.uuid) }}">
                <img style="border: 1px solid black; width: 100%;" src="{{ image.thumbnail_url() }}" />
            </a>
        </div>
    </div>
</div>