{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if images %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Your uploaded images</h1></div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 100px;">
        {% for image in images %}
            {% include '_image.html' %}
        {% endfor %}
    </div>
    {% else %}
        <h1>You have not uploaded any images yet!</h1>
    {% endif %}
{% endblock %}