{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ image.filename }}</h1>
    <table class="table">
        <tr>
            <td width="300px" class="col-md-2">
                <a href="{{ image.image_url() }}">
                    <img src="{{ image.image_url() }}" style="border: 1px solid black;" />
                </a>
            </td>
            <td>
                {% if image.tabular %}
                    <a href="{{ url_for('view_table', unique_id=image.uuid) }}">View as table</a>
                {% else %}
                    {{  wtf.quick_form(form)  }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <a href="{{ url_for('delete_image', unique_id=image.uuid) }}">Delete image</a>
            </td>
        </tr>
    </table>
{% endblock %}