{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row"><h1>Upload an image</h1></div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.photo }}
                <br />
                {{ form.submit(class_="btn btn-default") }}
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        {% for image in images %}
            {% include '_image.html' %}
        {% endfor %}
    </div>
{% endblock %}